* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2 {
    margin: 1rem auto;
}
body {
    font-family: monospace;
}
section {
    text-align: center;
}
.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    margin: 50px auto;
}
.game--title {
    width: 200px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -100px;
    font-family: monospace;
    font-size: 2rem;
    
}
.cell {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid black;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
    -webkit-tap-highlight-color: transparent;
}
.game--status {
    margin-top: 0px;
}
.game--restart {
    background: white;
    border: 2px solid black;
    font-size: 1rem;
    padding: 0.3rem;
    font-family: cursive;
    /* transition: background .5s; */
}
.game--restart:hover {
    background: black;
    color: white;
}
.game--restart:focus, .toggle-dark-mode {
    outline: none;
}


.dark-mode {
    background: rgb(36, 36, 36);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    box-shadow: none;
}

