.theme-switch-wrapper {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  -webkit-tap-highlight-color: transparent;
}
.theme-switch {
  display: inline-block;
  height: 28px;
  position: relative;
  width: 50px;
}
.theme-switch input {
  display: none;
}
.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  border-radius: 20px;
}
.slider:before {
  background-color: rgb(255, 255, 255);
  bottom: 4px;
  content: "";
  height: 20px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 20px;
}

input:checked + .slider {
  background-color: #ffffff;
}
input:checked + .slider:before {
  transform: translateX(22px);
  background-color: black;
}
.slider .round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width: 500px) {
  .theme-switch-wrapper {
    margin-top: 1.5rem;
    margin-left: 0.2rem;
    width: 80%;
    margin: 1rem auto;
  }
  .theme-switch {
    height: 25px;
    width: 45px;
  }
  .slider:before {
    height: 18px;
    width: 18px;
  }
  input:checked + .slider:before {
    transform: translateX(20px);
  }
}
